a{
  text-decoration: none;
}
.subcategory_div {
    input{
        margin-bottom: 15px;
    }
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    position: relative;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 2px dashed #ccc;
    position: relative;
    background: #f9f9f9;
  
    .file-upload-input {
      position: absolute !important;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: $primary-color;
    color: $white;
    border: 2px dashed #ffffff;
    .drag-text {
      .material-icons {
        font-size: 30px;
        color: $white;
      }
  
      h5 {
        font-size: 12px;
        color: #b2b2b2;
      }
      .upload_title {
        color: $white;
      }
    }
    .image-upload-wrap:hover .drag-text h3 {
      color: $white;
    }
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
    margin: 15px;
    .material-icons {
      font-size: 30px;
      color: $primary-color;
    }
  
    h5 {
      margin-top: 6px;
      font-size: 13px;
      margin-bottom: 6px;
      color: #b2b2b2;
    }
    .upload_title {
      color: $primary-color;
    }
  }
  .image-upload-wrap:hover .drag-text h3 {
    color: $white;
  }
  
  .file-upload-image {
    max-width: 100%;
  }
  
  .remove-image {
    margin: 0 !important;
    color: $white !important;
    border: none;
    padding: 2px;
    border-radius: 21px;
    top: 20px;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 20px;
  
    span {
      font-size: 20px;
      background: transparent;
      color: $white !important;
    }
    &:hover {
      background: $white;
      color: #000;
      transition: all 0.2s ease;
      cursor: pointer;
      span {
          
          color:  $primary-color;
        }
    }
    &:active {
      border: 0;
      transition: all 0.2s ease;
    }
  }

  
  .end-align-btn {
      display: grid !important;
      justify-content: flex-end !important;
  }

  .table_pagination{
    margin-top: 30px;
    .pagination{
            .page-item{
          padding: 10px;
        .page-link {
          
          color: #2d4d6d;
          border-radius: 10px;
          background-color: #fff;
          border: 1px solid #2d4d6d;
        
        }
        }
    }
  }
  .add_more_btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline !important;
  }
  .theme_btn {
    background: $primary-color;
    border: none;
    color: $white;
    font-weight: 600;
    padding: 10px;
    display: inline-block;
    border-radius: 6px;
  }
  .visbilty_icon{
    display: flex;
    align-items: center;
    span{
      font-size: 16px;
      margin-right: 5px;
    }
  }
    
  