body {
	min-width: 400px;
}
.dashboard-nav {
	background: #01688d;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	box-shadow: 0 5px 10px #dfdfdf;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	@media only screen and (max-width: 575.5px) {
		padding: 0 10px;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			img {
				width: 100%;
				margin-bottom: 10px;
			}
			a {
				text-decoration: none;
				color: #ffffff;
				span {
					margin: 0 15px;
					@media only screen and (max-width: 575.5px) {
						margin: 0 3px;
					}
				}
			}
		}
	}
}

.dashboard-menus {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 72px;
	overflow-x: hidden;
	transition: 0.3s;
	background: #f9f9f9;
	@media only screen and (max-width: 991px) {
		top: 55px;
	}
	&::-webkit-scrollbar {
		width: 3px;
		background-color: #f9f9f9;
	}
	&::-webkit-scrollbar-thumb {
		background: #01688d;
	}
	.profile-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid #ffffff;
		padding: 20px 30px;
		img {
			width: 30px;
		}
		.contact-info {
			p {
				font-size: 16px;
				color: #01688d;
				font-weight: 600;
				margin: 0;
				padding: 0;
			}
			small {
				font-size: 13px;
				color: #767676;
			}
		}
	}
	.dash-menu {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 8px;
		margin: 0 30px;
		text-decoration: none;
		color: #01688d;
		white-space: nowrap;
		p {
			margin: 0;
			padding-left: 6px;
			font-size: 15px;
			white-space: nowrap;
		}
		&:hover {
			background: #01688d15;
			border-radius: 4px;
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
				font-size: 20px;
				font-weight: 300;
			}
		}
		&.active {
			background: #01688d15;
			border-radius: 6px;
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5px;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
	.my-panels {
		border-top: 2px solid #ffffff;
		padding: 20px 30px;
		white-space: nowrap;
		h6 {
			font-size: 16px;
			color: #999999;
			margin-bottom: 15px;
		}
		.panel-menu {
			&.active {
				padding: 15px;
				border-radius: 4px;
				margin-bottom: 15px;
				background: #ffffff;
				.dash-menu {
					display: flex;
				}
				.extra-dash-menu {
					position: relative;
					&:after {
						font-family: "Material Icons";
						content: "\e5cf";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 8px;
						font-size: 20px;
						font-weight: 300;
					}
				}
			}
			.extra-dash-menu {
				display: flex;
				align-items: center;
				cursor: pointer;
				text-decoration: none;
				color: #01688d;
				padding: 8px;
				margin-bottom: 15px;
				p {
					margin: 0;
					padding-left: 8px;
				}
				&:hover {
					background: #01688d15;
					border-radius: 4px;
					position: relative;
					&:after {
						font-family: "Material Icons";
						content: "\e5cc";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 8px;
						font-size: 20px;
						font-weight: 300;
					}
				}
			}
			.dash-menu {
				display: none;
				align-items: center;
				cursor: pointer;
				padding: 8px;
				margin: 0 0px;
				margin-left: 3px;
				margin-right: 12px;
				text-decoration: none;
				color: #01688d;
				p {
					margin: 0;
					padding-left: 6px;
					font-size: 15px;
				}
				&:hover {
					background: #01688d15;
					border-radius: 4px;
					position: relative;
					&:after {
						font-family: "Material Icons";
						content: "\e5cc";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 8px;
						font-size: 20px;
						font-weight: 300;
					}
				}
				&.active {
					background: #01688d15;
					border-radius: 6px;
					position: relative;
					&:after {
						font-family: "Material Icons";
						content: "\e5cc";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 5px;
						font-size: 20px;
						font-weight: 300;
					}
				}
			}
		}
		.panel-menu-single {
			&.active {
				background: #01688d15;
				border-radius: 4px;
				position: relative;
				&:after {
					font-family: "Material Icons";
					content: "\e5cc";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 8px;
					font-size: 20px;
					font-weight: 300;
				}
			}
			.extra-dash-menu {
				display: flex;
				align-items: center;
				cursor: pointer;
				text-decoration: none;
				color: #01688d;
				padding: 8px;
				margin-bottom: 15px;
				p {
					margin: 0;
					padding-left: 8px;
				}
				&:hover {
					background: #01688d15;
					border-radius: 4px;
					position: relative;
					&:after {
						font-family: "Material Icons";
						content: "\e5cc";
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 8px;
						font-size: 20px;
						font-weight: 300;
					}
				}
			}
		}
	}
}

.visit-panel-menu {
	margin: 0 30px;
	white-space: nowrap;
	&.active {
		padding: 15px;
		border-radius: 4px;
		margin-bottom: 15px;
		background: #ffffff;
		.dash-menu {
			display: flex;
		}
		.extra-dash-menu {
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cf";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
	.extra-dash-menu {
		display: flex;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		color: #01688d;
		padding: 8px;
		margin-bottom: 15px;
		p {
			margin: 0;
			padding-left: 8px;
		}
		&:hover {
			background: #01688d15;
			border-radius: 4px;
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
	.dash-menu {
		display: none;
		align-items: center;
		cursor: pointer;
		padding: 8px;
		margin: 0 0px;
		margin-left: 3px;
		margin-right: 12px;
		text-decoration: none;
		color: #01688d;
		p {
			margin: 0;
			padding-left: 6px;
			font-size: 15px;
		}
		&:hover {
			background: #01688d15;
			border-radius: 4px;
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
				font-size: 20px;
				font-weight: 300;
			}
		}
		&.active {
			background: #01688d15;
			border-radius: 6px;
			position: relative;
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5px;
				font-size: 20px;
				font-weight: 300;
			}
		}
	}
}

.dashboard-content {
	padding: 30px 40px;
	.dashboard-breadcrumb {
		p {
			margin: 0;
			padding-bottom: 10px;
			a {
				text-decoration: none;
			}
		}
		margin-bottom: 20px;
		border-bottom: 1px solid #707070;
	}
	.dashboard-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		padding: 0 15px;
		border-radius: 6px;
		background: #f9f9f9;
		h4 {
			margin: 0;
			display: flex;
			align-items: center;
			font-size: 22px;
			color: #01688d;
			font-weight: 600;
		}
		.content-query {
			margin: 0;
			display: flex;
			align-items: center;
			input[type="search"] {
				box-sizing: border-box;
				outline: none;
				border: 1px solid #e8e8e8;
				border-radius: 20px;
				padding: 3px 15px;
				&::placeholder {
					font-size: 12px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}
			button {
				margin-left: 10px;
				border: none;
				background: #01688d;
				border-radius: 20px;
				color: #ffffff;
				font-size: 16px;
				font-weight: 600;
				padding: 3px 15px;
			}
		}
		@media only screen and (max-width: 650px) {
			h4 {
				font-size: 12px;
			}
			.content-query {
				input[type="search"] {
					border-radius: 20px;
					padding: 3px 5px;
					width: 100px;
					height: 30px;
					&::placeholder {
						font-size: 12px;
					}
				}
				button {
					margin-left: 5px;
					// width: 100px;
					height: 30px;
					border: none;
					background: #01688d;
					border-radius: 20px;
					color: #ffffff;
					font-size: 12px;
					font-weight: 600;
					padding: 3px 10px;
				}
			}
		}
		@media only screen and (max-width: 450px) {
			h4 {
				font-size: 12px;
			}
			.content-query {
				input[type="search"] {
					border-radius: 20px;
					padding: 3px 5px;
					width: 80px;
					height: 30px;
					&::placeholder {
						font-size: 12px;
					}
				}
				button {
					margin-left: 5px;
					// width: 100px;
					height: 30px;
					border: none;
					background: #01688d;
					border-radius: 20px;
					color: #ffffff;
					font-size: 12px;
					font-weight: 600;
					padding: 3px 10px;
				}
			}
		}
	}
	.dashboard-details {
		border-radius: 8px;
	}
	.dashboard-home {
		margin: 15px;
		.dashboard-info {
			background: #ffffff;
			padding: 15px;
			border-radius: 6px;
			box-shadow: 0 3px 5px #dfdfdf;
			@media only screen and (max-width: 767.5px) {
				margin-bottom: 15px;
			}
			span {
				span {
					color: #01688d;
				}
				p {
					color: black;
				}
			}
			h6 {
				text-align: right;
				color: #01688d;
				font-size: 26px;
			}
		}
		.dashboard-link {
			margin-top: 20px;
			position: relative;
			box-shadow: 0 3px 5px #dfdfdf;
			display: flex;
			align-items: center;
			padding: 30px 10px;
			border-radius: 2px;
			background-color: #ffffff;
			text-align: left;
			border-left: 3px solid #01688d;
			color: #01688d;
			p {
				margin: 0;
			}
			span {
				margin-right: 20px;
				color: white;
				border-radius: 50%;
				padding: 15px;
			}
			.s1 {
				background: #ff0068;
			}
			.s2 {
				background: #bb04e9;
			}
			.s3 {
				background: #00e755;
			}
			.s4 {
				background: #00c3e9;
			}
			&:after {
				font-family: "Material Icons";
				content: "\e5cc";
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 8px;
				font-size: 30px;
				font-weight: 300;
			}
			@media only screen and (max-width: 767.5px) {
				width: 100%;
			}
		}
	}
	.stores-feed {
		padding-top: 20px;
		background: #ffffff;
		h4 {
			color: #01688d;
			margin-bottom: 15px;
		}
		.md-chart {
			width: 100% !important;
			min-height: 200px;
			overflow: auto;
			&::-webkit-scrollbar {
				height: 5px;
				background-color: #f9f9f9;
			}
			&::-webkit-scrollbar-thumb {
				background: #01688d;
			}
		}
	}
	.table-content {
		padding: 20px;
		width: 100%;
		overflow-x: auto;
		&::-webkit-scrollbar {
			height: 5px;
			background-color: #f9f9f9;
		}
		&::-webkit-scrollbar-thumb {
			background: #01688d;
		}
		table {
			font-family: $font-family-Montserrat;
			width: 100%;
			td * {
				margin: 0;
				padding: 0;
			}
			tr {
				border-bottom: 1px solid #272d3b49;
				&:nth-last-child(1) {
					border: none;
				}
			}
			td {
				white-space: nowrap;
				padding: 12px;
				color: #272d3b;
				font-size: 14px;
			}
			th {
				white-space: nowrap;
				padding: 12px;
				color: #272d3b;
				font-size: 14px;
			}
			span {
				cursor: pointer;
				color: #a5a5a5;
			}
		}
	}
	.summary {
		background: #f9f9f9;
		border-radius: 8px;
		padding-bottom: 20px;
		.dashboard-header {
			border-bottom: 1px solid #e3e3e3;
			border-radius: 6px 6px 0 0;
		}
		@media only screen and (max-width: 1199px) {
			margin-top: 20px;
		}
		p {
			margin: 0;
			padding: 10px 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.value {
				font-size: 22px;
				color: #000000;
				font-weight: 600;
				a {
					color: #000000;
				}
			}
		}
	}
	.md-details-tab {
		background: #ffffff;
		padding: 20px 0;
		@media only screen and (max-width: 450px) {
			ul {
				padding-bottom: 4px;
				border-bottom: 3px solid #c3c3c3;
				li {
					margin-right: 5px !important;
					a {
						font-size: 11px;
						padding-bottom: 7px !important;
						&.active {
							border-bottom: 2px solid #01688d;
						}
					}
				}
			}
		}
		@media only screen and (max-width: 575.5px) {
			ul {
				padding-bottom: 4px;
				border-bottom: 3px solid #c3c3c3;
				li {
					margin-right: 15px;
					a {
						font-size: 11px;
						padding-bottom: 7px !important;
						&.active {
							border-bottom: 2px solid #01688d;
						}
					}
				}
			}
		}
		ul {
			margin: 0;
			padding: 0;
			padding-bottom: 4px;
			border-bottom: 2px solid #c3c3c3;
			li {
				list-style: none;
				display: inline-block;
				margin-right: 20px;
				a {
					text-decoration: none;
					padding-bottom: 6px;
					color: #898989;
					&.active {
						font-weight: 600;
						padding-left: 10px;
						padding-right: 10px;
						color: #01688d;
						border-bottom: 2px solid #01688d;
					}
				}
			}
		}
	}
	.dashboard-business-info {
		background: #ffffff;
		padding: 20px 0;
		@media only screen and (max-width: 767.5px) {
			.text-end {
				text-align: start !important;
			}
		}
		.pb-details {
			padding-left: 15px;
			padding-bottom: 10px;
			border-bottom: 1px solid #dfdfdf;
			margin-top: 30px;
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: 600;
		}
		.input-area {
			.row {
				margin-bottom: 20px;
			}
			p {
				padding: 0;
				margin: 0;
				color: #898989;
			}
			h6 {
				padding: 0;
				margin: 0;
				font-weight: 600;
				color: #000000;
			}
			label {
				color: #898989;
			}
			input,
			select {
				border: 1px solid #d1d1d1;
				padding: 0 10px;
				outline: none;
				&:focus {
					border: 1px solid #01688d !important;
				}
			}
			textarea {
				border: 1px solid #d1d1d1;
				padding: 5px 10px;
				outline: none;
				&:focus {
					border: 1px solid #01688d;
				}
			}
			input[type="file"] {
				padding: 0;
				appearance: none;
				position: relative;
			}
			input[type="file"]::file-selector-button {
				visibility: hidden;
				height: 40px;
				border: none;
				width: 10px;
				border-radius: 4px 0 0 4px;
			}
		}
		.radio-input {
			display: flex;
			align-items: center;
			label {
				display: inline;
				margin-right: 15px;
			}
			input {
				display: inline;
				width: 20px;
				margin-right: 5px;
			}
		}
		button {
			display: block;
			margin: auto;
			background: #01688d;
			border: none;
			color: #ffffff;
			font-weight: 600;
			padding: 10px;
			border-radius: 6px;
		}
		a {
			text-decoration: none;
		}
	}
}

.dashboard-discount {
	.card-search {
		padding: 30px 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		span {
			color: #989696;
		}
		input {
			margin-top: 20px;
			height: 42px;
			border: 1px solid #01688d;
			border-radius: 4px;
			width: 100%;
		}
		button {
			display: block;
			border: none;
			background: #01688d;
			color: white;
			font-weight: bold;
			margin: 20px 0;
			padding: 6px 20px;
			border-radius: 6px;
		}
		.qr {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.card-holder-information {
		padding: 20px 0;
		background: white;
		h3 {
			padding: 15px;
			border-bottom: 1px solid #d5d5d5;
			margin-bottom: 30px;
			font-size: 22px;
			font-weight: 600;
			color: #242424;
			text-align: center;
		}
		img {
			width: 100%;
		}
		.card-user-info {
			display: inline-block;
			width: 100%;
			span {
				font-size: 13px;
				color: #8b8b8b;
			}
			p {
				font-size: 19px;
				color: #242422;
			}
			&:nth-child(2) {
				width: 48%;
			}
			&:nth-child(3) {
				width: 48%;
			}
		}
	}
	.card-discount {
		background: white;
		h3 {
			padding: 15px;
			border-bottom: 1px solid #d5d5d5;
			margin-bottom: 30px;
			font-size: 22px;
			font-weight: 600;
			color: #242424;
		}
	}
}

.input-area {
	margin-bottom: 20px;
	label {
		display: block;
	}
	input {
		height: 42px;
		width: 100%;
		border: 1px solid #01688d;
		border-radius: 4px;
		padding: 0 10px;
	}
	select {
		height: 42px;
		width: 100%;
		border: 1px solid #01688d;
		border-radius: 4px;
		padding: 0 10px;
		appearance: none;
		position: relative;
		background: url("../assets/images/down.png");
		background-repeat: no-repeat;
		background-position: center right 10px;
	}
	textarea {
		width: 100%;
		border-radius: 4px;
		padding: 5px 10px;
	}
	span {
		font-size: 20px;
		font-weight: 600;
		color: #242424;
		margin: 0;
	}
	.w-half {
		width: 49% !important;
	}
	@media only screen and (max-width: 767.5px) {
		label {
			margin-bottom: 5px;
		}
		.text-end {
			text-align: start !important;
		}
	}
}

.user-menus {
	position: relative;
	&:hover {
		.user-top-menu {
			display: block !important;
		}
	}
	.user-top-menu {
		margin: 0;
		background: #ffffff;
		padding: 10px 15px;
		border-radius: 6px;
		box-shadow: 0 5px 10px #b6b6b6;
		position: absolute;
		right: 0;
		display: none !important;
		&::after {
			content: "";
			position: absolute;
			top: -4px;
			right: 5px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #fdfdfd;
			border-top: 8px solid #fdfdfd;
			border-color: transparent transparent #fdfdfd #fdfdfd;
			transform: translate(-50%, 0%) rotate(135deg);
			box-shadow: -3px 3px 3px 0 var(--color-df);
		}
		li {
			padding: 5px 0;
			display: block !important;
			border-bottom: 1px solid #dfdfdf;
			&:nth-last-child(1) {
				border: none;
			}
			a {
				color: #333333 !important;
			}
		}
	}
	img {
		margin-top: 8px;
		margin-left: 20px !important;
		width: 40px !important;
		@media only screen and (max-width: 650px) {
			margin-left: 7px !important;
		}
	}
}

.offer-percent {
	width: max-content;
	background: #ff9100;
	color: white !important;
	padding: 2px 8px !important;
	border-radius: 12px;
}

.logo-menu {
	display: flex !important;
	align-items: center;
	a {
		@media only screen and (max-width: 991px) {
			display: none;
		}
	}
	.hamburger-menu {
		display: none;
		border: none;
		background: none;
		outline: none !important;
		@media only screen and (max-width: 991px) {
			display: block;
		}
		span {
			border: 0.5px solid #ffffff;
			background-color: #ffffff;
			width: 30px;
			height: 0px;
			font-size: 15px;
			margin: 0;
			display: block;
			&:nth-child(2) {
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
}

.double-action {
	margin-top: 20px;
	button {
		display: inline !important;
		border: 1px solid #01688d !important;
	}
	.cancel-action {
		background: #f0f0f0 !important;
		color: #01688d !important;
		margin-right: 10px !important;
	}
}

.profile-status {
	background: #f9f9f9;
	margin: 30px 0;
	border-radius: 6px;
	width: 100%;
	padding-bottom: 20px;
	.dashboard-header {
		border-bottom: 1px solid #e3e3e3;
		border-radius: 6px 6px 0 0;
	}
	.user-completion {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		img {
			margin-right: 20px;
		}
		.completion-progress {
			flex: 2;
			display: flex;
			flex-direction: column;
			label {
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			progress {
				margin-top: 10px;
				width: 100%;
			}
		}
	}
}

.default-btn {
	margin-left: 10px;
	border: none;
	background: #01688d;
	border-radius: 20px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
}

progress {
	background: #dcdcdc;
	height: 10px;
	border-radius: 10px !important;
	overflow: hidden;
}

progress::-webkit-progress-value {
	background: #01688d !important;
}

progress::-webkit-progress-bar {
	background: #dcdcdc !important;
}

.download-doc {
	background: none !important;
	color: #00bcff !important;
	span {
		vertical-align: middle;
		color: #00bcff !important;
	}
}

.material-icons {
	vertical-align: middle;
}
.sm-font-icon {
	font-size: 16px;
}

.change-logo {
	margin-top: 5px;
	display: block;
	text-decoration: underline !important;
	color: #01688d;
}

.upload-new {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ffffff !important;
	color: #01688d !important;
	border-radius: 25px !important;
	padding: 10px 20px !important;
	span {
		color: #01688d;
	}
}

.w-80 {
	width: 80% !important;
}
.bg-bb-f9 {
	background-color: #f9f9f9 !important;
	.dashboard-header {
		border-bottom: 1px solid #e3e3e3;
		border-radius: 6px 6px 0 0;
	}
}

.document-upload {
	border: 1px dashed #d1d1d1;
	background: #f9f9f9;
	cursor: pointer;
	width: 100%;
	min-height: 150px !important;
	input {
		display: none;
	}
	&:hover {
		background: #01688d;
		button {
			p {
				color: white !important;
			}
			span {
				color: white !important;
			}
		}
	}
	button {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: none !important;
		p {
			color: #01688d !important;
			font-size: 13px;
		}
		span {
			color: #898989 !important;
			font-size: 12px;
		}
		.material-icons {
			font-size: 27px;
			color: #01688d !important;
		}
	}
}

.end-align-btn {
	display: grid !important;
	justify-content: flex-end !important;
}

.doc-image-display {
	display: none;
	img {
		max-width: 100%;
	}
}

.select2 {
	width: 100% !important;
}

.select2-selection,
.select2-selection--multiple {
	min-height: 42px !important;
	border: 1px solid #dfdfdf !important;
}
.select2-search,
.select2-search--inline {
	textarea {
		background: none !important;
		border: none !important;
		font-weight: bold;
		height: 30px !important;
		white-space: nowrap;
		padding: 0!important;
	}
}
.select2-selection__choice {
	background: black !important;
	color: white !important;
	height: 30px;
	width: max-content !important;
}
.select2-selection__choice__display {
	background: black;
	color: white !important;
	font-size: 12px !important;
	padding: 0 !important;
	margin: 4px !important;
	margin-left: 2px !important;
	margin-right: 6px !important;
	display: grid;
}
.select2-selection__choice__remove {
	background: black !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	margin: 4px !important;
	margin-top: -2px !important;
	display: grid;
	span {
		color: white !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #01688d !important;
}
